h1,
h3 {
  text-align: center;
}

div {
  text-align: center;
}

.gris_italic {
  color: gray;
  font-style: italic;
}

.fondrouge {
  color : white;
  background: red;
  width: fit-content;
  margin: auto;
}

.cadre {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  padding: 20px;
  width: min-content;
  margin: auto;
}

.over :hover {
    border : 1px solid grey;
    border-radius: 2px;
    cursor: pointer;
    transform: scale(1.2);
}

.over {
    transition: all 0.5 ease;
}